
body {
    height: 100%;
    overflow: scroll;
}

html {
    background: url(https://upload.wikimedia.org/wikipedia/commons/4/45/The_%22Old_Well%22%2C_center_of_campus%2C_University_of_North_Carolina%2C_Chapel_Hill.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur (3px);
}

.header {
    width: 90%;
    height: 100px;
    font-family: Helvetica;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgba(151,192,230, .9);
}

#title {
    color: white;
    opacity: 1;
}

.toolbar {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}



.login-block {
    position:fixed;
    top: 26%;
    left: 36%;
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #87cefa;
    margin: 0 auto;
}
#Register{
    top: 16%;
    left: 36%;
}

.login-block h1 {
    text-align: center;
    color: #000;
    font-size: 18px;
    font-family: "Trebuchet MS";
    margin-top: 0;
    margin-bottom: 20px;
}

input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: "Trebuchet MS";
    text-align:center;
    outline: none;

}


.login-block input#email {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#email:focus {
    background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input#password {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
    background-size: 16px 80px;
}

.login-block input#password:focus {
    background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
    background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
    border: 1px solid #19BCFF;
}

button {
    width: 100%;
    height: 40px;
    background: #87cefa;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #19BCFF;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Trebuchet MS";
    outline: none;
    cursor: pointer;
}

button:hover {
    background: #19BCFF;
}
button.add{
    position:fixed;
    left: 30%;
    width: 40%;
    height: 50px;
    position: center;

}

.nav {
    width: 30%;
    height: 25px;
    margin: 0 auto;
    text-align: center;
    vertical-align: center;
    font-family: Helvetica;
    background-color: rgba(151,192,230, .9);
    color: white;
    font-family: Helvetica;
    font-size: 20px;
}

.nav:hover {
    background: #19BCFF;
}

p {
    font-family: "Trebuchet MS";
    color: black;
    text-align: center;

}

a {
    text-decoration: none;
    color: blue;
    opacity: 1;
}

table{
  width:100%;
  table-layout: fixed;
  background: #fff;
  border-radius: 5px;
  border-top: 5px solid #87cefa;
  margin: 20px auto;
  
}


th{
  padding: 20px 15px;
  margin: 20px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
td{
  padding: 15px;
  margin: 20px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: black;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
